body {
background-color: rgb(216, 233, 248);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}
form {
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: rgb(95, 43, 226);

}

header {
    margin-bottom: 30px;
}

.instructions {
    padding: 12px;
    border:1px solid rgba(39, 33, 66, 0.5);
    width: 75%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
}

.submit-button {
    margin-left: 7px;
    background-color: rgb(95, 43, 226);
    color: whitesmoke;
    border: none;
    border-radius: 50px;
    padding: 14px 22px;
    font-size: 16px;
    width: 100px;
}

.poem {
    font-size: 14px;
    background-color: whitesmoke;
    padding: 24px;
    line-height: 1.5;
    border-left:3px solid rgb(95, 43, 226);
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);

}

footer {
    text-align: center;
    margin-top: 20px;
}